@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --button: #0a8f84;
    --buttonhover: #067c72;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html {
    font-family: 'Varela Round', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(./sky.jpg);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading {
    font-size: 36px;
}

#boardcontainer {
    height: 300px;
    width: 300px;
    table-layout: fixed;
    border-collapse: collapse;
}

.win {
    text-shadow: 0 0 5px rgb(128, 255, 227);
    color: rgb(128, 255, 227);
    text-align: center;
}
td {
    height: 100px;
    width: 100px;
    border: solid 5px var(--buttonhover);
    text-align: center;
    font-size: 80px;
}

button {
    cursor: pointer;
}

#playernameBtn {
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--button);
    margin: 30px;
    border: none;
    box-shadow: 2px 2px 4px black;
}

#playernameBtn:hover, input[type=button]:hover, #replay:hover, #change:hover {
    background-color: var(--buttonhover);
}

#form-popup1, #form-popup2 {
    display: none;
    font-size: 20px;
    width: 340px;
    height: 150px;
    background-color: rgb(0, 102, 116);
    border: solid 2px var(--buttonhover);
    border-radius: 10px;
    position: fixed;
    top: 47%;
    left: 50%;
    margin-left: -170px;
    padding-bottom: 30px;
}

#form {
    display: flex;
    flex-direction: column;;
    align-items: center;
}

label[for=p1name], label[for=p2name] {
    margin: 15px;
}

input[type=text] {
    width: 70%;
    padding: 5px;
    margin: 10px 10px 0px 10px;
    border: none;
    background-color: #e5eaf5;
    font-size: 16px;
    color: black;
}

input[type=button], #replay, #change {
    font-size: 16px;
    font-weight: 700;
    color: white;
    width: 30%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--button);
    border: none;
    box-shadow: 2px 2px 4px black;
}

#replay, #change {
    display: none;
    margin: 15px;
    width: 200px;
    font-size: 18px;
}

#display {
    font-size: 24px;
    margin: 40px 30px 10px 30px;
}

footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
}

/* Ice Cold: #a0d2eb

Freeze Purple: #e5eaf5

Medium Purple: #d0bdf4

Purple Pain: #8458B3

Heavy Purple: #a28089 */